.searchBarContainer {
    display: flex;
    width: 100%;
    max-width: 400px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;
    border: 1px solid #000;
    background: #FFF;
}

.searchInput {
    all: unset;
    width: 100%;
    background: none;
}

.searchButton {
    all: unset;
}

@media (max-width: 500px) {
    .searchBarContainer {
        padding: 4px 4px;
        border-radius: 6px;
        font-size: 14px;
        width: 100%;
        max-width: 100%;
    }
    .searchInput {
        font-size: 14px;
    }
    .searchButton {
        font-size: 14px;
    }
}