.container {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 356px;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 288px;
    align-self: stretch;
    aspect-ratio: 187/288;
    border-radius: 8px;
    object-fit: cover;
}

.imageSkeleton {
    display: block;
    height: 288px;
    aspect-ratio: 187/288;
    border-radius: 8px;
    background-color: #e0e0e0;
}

.title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.8em;
}

.author {
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottomCard {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}